 <html lang = en>
    <head>
        <meta charset="utf-8"/>
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="mobile-web-app-capable" content="yes" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
                    
        {%if title%}
        <title>{{title}}</title>
        {%else%}
        <title>In Ear Monitor Mix</title>
        {%endif%}
        <script src="https://cdn.socket.io/4.6.0/socket.io.min.js" integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+" crossorigin="anonymous"></script>
    </head>
    <body>
        {%block heading%}
        <h1>
        {{content}}
        </h1>
        {%endblock heading%}
        <select title="Mix" id="mix-selection"><option>none</option>
        <!-- <option>Keys</option> -->
        <!-- <option>Mix 2</option> -->
        <!-- <option>Mix 3</options> -->
        <!-- <option>Drums</option> -->
        </select>
        <script>
            // document.getElementById('mix-selection').addEventListener('click',async function(event){
            //     let res = await fetch("objects",{
            //         method: "POST",
            //         headers: {
            //         "Content-Type": "application/json",
            //         // 'Content-Type': 'application/x-www-form-urlencoded',
            //         },
            //         body: JSON.stringify({
            //             "Status":"Request","Type":"MixSelect"
            //         }),
            //     });

            //     if (res.status === 200) {
            //         promise = res.json();
            //         document.getElementById("mix-selection").innerHTML = promise.html;
            //         alert("Mixes Recieved");
            //         //console.log(res);
                    
            //     } else {
            //         //console.log(res);
            //         promise = res.json()
            //         this.setState({message: "An error occured"});
                    
            //     }
            //     })
            
            async function populateSelection(){
                try{
                console.log('populating...')
                await fetch("/options")
                    .then((response) => response.json())
                        .then((data) => {
                            document.getElementById("mix-selection").innerHTML = data.html
                            console.log(data);
                        })
                }
                catch(error){
                    console.log(error)
                }
            }

            populateSelection()
        </script>
        {%block mixview%}
        {%endblock mixview%}
    </body>
    
</html>